<h1 class="text-3xl">About the application</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quae
    corporis ut minus cumque consequuntur itaque, ipsa possimus asperiores!
    Praesentium aliquid qui, delectus facere officia recusandae. Eum temporibus
    at labore? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloribus corporis repudiandae, quo eum modi iusto velit omnis porro iure
    maiores magnam obcaecati eius ad repellat voluptatum nulla dicta doloremque
    vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum a,
    esse odit beatae officia quas sunt dolore maiores qui deserunt voluptatum at
    neque magnam, inventore laudantium iusto atque optio eos?
  </p>
</section>
