<h1 class="text-3xl">About the application</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quae
    corporis ut minus cumque consequuntur itaque, ipsa possimus asperiores!
    Praesentium aliquid qui, delectus facere officia recusandae. Eum temporibus
    at labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    architecto officiis molestias est laborum incidunt perferendis? Deleniti eum
    explicabo corrupti qui temporibus. Voluptate odit nostrum aliquid eius
    necessitatibus. Excepturi, impedit!ß
  </p>
</section>
